<% include ../partials/header %> 

     <header>
         <div class="jumbotron">
             <div class="container">
                 <h1 id="jumbo-header"><i class="fas fa-camera-retro"></i> ThaiChic</h1>
                 <p id="hder">View our hand-picked photos of Thailand tourist attraction.</p>
                 <p>
                    <a class="btn btn-primary" href="/campgrounds/new">Add New Place</a>
                 </p>
                  <p>
                  <form action="/campgrounds" method="GET" class="form-inline" id="campground-search">
                    <div class="form-group">
                      <input type="text" name="search" placeholder="Place search..." class="form-control">
                    </div>
                  </form>
                 </p>
             </div>
         </div>
     </header>
     <div class="container">
         <div class="row">
            <% campgrounds.forEach(function(campground){ %>
                <div class="col-md-3 col-sm-6">
                    <div class="card" id="carditem">
                        <img class="card-img-top" src="<%= campground.image %>" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title"><%= campground.name %></h5>
                            <p class="card-text"><%= campground.description.substr(0, 40); %>..</p>
                            <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary btn-sm">More Info</a>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>

<% include ../partials/footer %>